!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.expo-shared/
.expo/*
.gradle
.idea
.pnp.js
.vscode/settings.json
*.hmap
*.hprof
*.iml
*.ipa
*.jks
*.jsbundle
*.key
*.keystore
*.log
*.mobileprovision
*.mode1v3
*.mode2v3
*.moved-aside
*.orig.*
*.p12
*.p8
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
/.pnp
/build
/mobile/ios/Pods/
/web/build
/web/coverage
\.buckd/
buck-out/
build/
DerivedData
google-services.json
local.properties
node_modules
node_modules/**/*
npm-debug.*
npm-debug.log*
project.xcworkspace
web-build/
xcuserdata
yarn-debug.log*
yarn-error.log*
.elasticbeanstalk/*
