!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.DS_Store
.expo-shared/
.expo/*
.gradle
.idea
*.hmap
*.hprof
*.iml
*.ipa
*.jks
*.jsbundle
*.key
*.keystore
*.log
*.mobileprovision
*.mode1v3
*.mode2v3
*.moved-aside
*.orig.*
*.p12
*.p8
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
/ios/Pods/
\.buckd/
buck-out/
build/
DerivedData
google-services.json
local.properties
node_modules/**/*
npm-debug.*
project.xcworkspace
web-build/
xcuserdata
yarn-error.log